<section class="contact container">
  <div class="contact-wrapper">
  
    <!-- Contact Info -->
    <div class="contact-info">
      <h2>Get In Touch</h2>

    <p>Email: <a href="mailto:lashyaalluri&#64;gmail.com">lashyaalluri&#64;gmail.com</a></p>


      <p>LinkedIn: 
        <a href="https://www.linkedin.com/in/lashya-alluri-114aa9216/" target="_blank" rel="noopener noreferrer">
          linkedin.com/in/lashya-alluri
        </a>
      </p>

      <p>Location: Hyderabad, India</p>

    
    </div>
  </div>
</section>
